* {
	box-sizing: border-box;
	line-height: 1.5em;
}
body {
	font-family: 'Alegreya', serif;
	font-size: 1.3em;
	background: url('img/bg.svg') no-repeat;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 700px;
	padding: 0 20px;
}
header h1 {
	margin-bottom: 0;
}
header h2 {
	margin-bottom: 0;
}
header h1 a {
	color: #000;
}
header h2 a {
	color: #000;
}
header h2 a:hover {
	color: rgb(56,138,160);
}
header h2 a::after {
	content: "…";
	margin: 10px;
	color: rgb(56,138,160);
}
header p {
	margin-top: 0;
	margin-bottom: 40px;
}
nav ul {
	padding: 0;
}
nav li {
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}
nav li:hover {
	text-decoration: underline;
}
nav a:focus {
	outline: none;
}
.withSubmenu::after {
	content: "…";
	margin-left: 4px;
}
.submenu {
	display: none;
	font-size: .8em;
}
.tag {
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	padding: 3px 7px;
	margin: 3px 3px;
	color: #000;
	background: #eee;
	display: inline-block;
}
.tag:hover {
	text-decoration: none;
	font-weight: 700;
	color: #000;
}
.metas, small {
	font-family: 'Raleway', sans-serif;
	font-size: .8em;
}
article {
	margin: 70px 0;
}
article {
	/* in lists and in complete post/page */
	margin-bottom: 60px;
	counter-reset: footnotes; /* Initialiazing a `footnotes` counter on the wrapper */
}
article header h1 {
	font-size: 2.3em;
	word-spacing: .2em;
	line-height: 1.1em;
	margin-bottom: 20px;
}
article :target {
	background: rgba(240, 146, 146, 0.25);
	color: #1f2832;
	border-radius: 4px;
	padding: 5px; }
a {
	color: rgb(126,161,48);
	text-decoration: none;
}
a.external {
	background: url('img/externalLink.svg') no-repeat right;
	padding-right: 15px;
}
a.video {
	padding-right: 15px;
	background: url("img/videoLink.svg") no-repeat right;
}
a:hover {
	text-decoration: underline;
}
blockquote {
	padding-left: 1em;
	border-left: 4px solid rgba(219,243,151, 0.25);
}
blockquote footer {
	background: rgba(219,243,151, 0.25);
	color: #1f2832;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 0;
}
kbd {
	padding: 2px 5px;
	border-radius: 3px;
	border: 1px solid #aaa;
	box-shadow: 0 0px 5px #ccc;
	font-size: .85em;
	margin: 0 5px;
}
pre {
	color: rgb(126,161,48);
	background: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin: 15px;
	box-shadow: 0 0 10px #ccc;
}
pre code {
	box-shadow: none;
}
code {
	color: rgb(126,161,48);
	background: #fff;
	padding: 3px 6px;
	border-radius: 5px;
	box-shadow: 0 0 10px #ccc;
}
.path {
	color: #000;
	background: #eee;
	padding: 3px 6px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: .75em;
	font-weight: 700;
}
del { background: #f09292; text-decoration: none; color: #540e0e; padding: 1px 2px; border-radius: 4px; }

figure {
	background: #fff;
	padding: 7px;
	margin: 0;
	border-radius: 5px;
	box-shadow: 0 0 40px #ccc;
}
figure figcaption {
	text-align: center;
	padding: 10px 10px 0 10px;
}

hr { height: 40px; border: none; margin: 30px 0; background: url("img/hr.svg") no-repeat center; }

img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

ins { background: #DBF397; text-decoration: none; color: #7EA130; padding: 1px 2px; border-radius: 4px; }

mark { background: #FFFF8A; }

p { line-height: 1.3em; /* poem */ /* dialog */ }
p.indented { text-indent: 1em; }
p.disc_alpha { margin-bottom: 0; }
p.disc_inter { margin-top: 0; margin-bottom: 0; }
p.disc_omega { margin-top: 0; }
p.center { text-align : center; }
p.justify { text-align : justify; }
p.signature {text-align: center;color: #7EA130}
li.justify { text-align : justify; }


sup a { text-decoration: none; }

th { background: rgb(126,161,48); padding: 10px; }

tr:nth-child(odd) { background: #eee; }
tr:nth-child(even) { background: #ddd; }

td {padding: 10px; text-align: center; }

.footnotes { /* for footnotes */ margin-top: 50px; border-top: 1px solid; padding-top: 15px; font-size: .9em; }
.footnotes ol { padding-left: 20px; }
.footnotes li { padding: 5px 0; }
.footnotes :target { background: rgba(219,243,151, 0.25); color: #1f2832; border-radius: 4px; padding: 5px; }

[aria-describedby="footnote-label"] { /* for footnotes */ counter-increment: footnotes; text-decoration: none; color: inherit; }

[aria-describedby="footnote-label"]::after { /* for footnotes */ content: counter(footnotes); vertical-align: super; font-size: 0.5em; margin-left: 2px; }
